@charset "UTF-8";

/*

// Table of contents //

	01.	GOOGLE FONTS
	02.	BODY
	03.	CUSTOM CLASSES
	04. FORM ELEMENTS
	05.	SECTIONS
	06.	HTML TAGS
	07.	LINKS
	08.	MODAL
	09.	PAGINATION
	10. PRELOADER
	11.	TRANSITION OVERLAY
	12.	SANDWICH BUTTON
	13.	SCROLL DOWN
	14.	NAVIGATION MENU
	15.	HEADER
	16.	SOCIAL MEDIA
	17.	NAVBAR
	18.	SLIDER
	19.	PAGE HEADER
	20.	VIDEO BG
	21.	WORKS
	22.	FEATURES CONTENT
	23.	LISTING CONTENT
	24.	FULL MEDIA CONTENT
	25.	INTRODUCTION
	26. OUR TEAM
	27.	NEWS
	28.	SAY HELLO
	29.	LOGOS
	30.	FOOTER
	31.	RESPONSIVE TABLET FIXES
	32. REPSONSIVE MOBILE FIXES

*/

@import url("https://fonts.googleapis.com/css?family=Fjalla+One&subset=latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

/* BODY */

* {
  outline: none !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arimo", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  color: #002d62;
}

.navbar .language li a {
  cursor: pointer;
}

/* CUSTOM HTML ELEMENTS */

img {
  max-width: 100%;
}

/* CUSTOM ELEMENTS */

.overflow {
  overflow: hidden !important;
}

/* LINKS */

a {
  color: #002d62;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

a:hover {
  color: #002d62;
}

a:active {
  color: #002d62;
}

/* SECTIONS */

section {
  overflow: hidden;
}

/* CUSTOM CONTAINER */

@media (min-width: 1170px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1260px;
  }
}

/* PAGINATION */

.pagination {
  display: block;
  text-align: center;
  margin-top: 50px;
}

.pagination a {
  display: inline-block;
  font-weight: 600;
  color: #002d62;
  margin: 0 10px;
  font-size: 14px;
  border-bottom: 2px solid #002d62;
  padding-bottom: 2px;
}

.pagination a:hover {
  text-decoration: none;
  border-bottom: 2px solid #f6d894;
}

/* PAGE LOADED */

.page-loaded {
  overflow: inherit;
}

.page-loaded .preloader {
  bottom: -100%;
  transition-delay: 0.55s;
}

.page-loaded .preloader .layer {
  bottom: -100%;
}

.page-loaded .preloader .inner {
  transform: translateY(30px);
  opacity: 0;
}

.page-loaded header {
  transform: scale(1);
  transition-delay: 0.6s;
}

.page-loaded .navbar {
  transform: translateY(0);
  transition-delay: 0.75s;
}

/* PRELOADER */

.preloader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 11;
  overflow: hidden;
  background: #f6d894;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  transition-duration: 700ms;
  -webkit-transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.preloader .layer {
  width: 25%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background: #000;
  z-index: 2;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  transition-duration: 700ms;
  -webkit-transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.preloader .layer:nth-child(1) {
  left: 0;
  transition-delay: 0.15s;
}

.preloader .layer:nth-child(2) {
  left: 25%;
  transition-delay: 0.2s;
}

.preloader .layer:nth-child(3) {
  left: 50%;
  transition-delay: 0.25s;
}

.preloader .layer:nth-child(4) {
  left: 75%;
  transition-delay: 0.3s;
}

.preloader .inner {
  margin: 0;
  position: relative;
  z-index: 3;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  transition-duration: 700ms;
  -webkit-transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.preloader figure {
  display: block;
  margin: 0;
}

.preloader figure img {
  height: 80px;
}

.preloader .typewriter {
  height: 26px;
  line-height: 26px;
  display: inline-block;
  transform: translateY(10px);
  color: #fff;
  font-family: "Fjalla One", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.preloader .typewriter #typewriter-text {
  float: left;
  margin-left: 5px;
  margin-top: -2px;
  margin-right: 3px;
}

.preloader .typewriter #typewriter-suffix {
  width: 2px;
  height: 22px;
  display: inline-block;
  background: #f6d894;
  text-indent: -1000px;
  overflow: hidden;
}

/* NAVIGATION MENU */

.navigation-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  visibility: hidden;
}

.navigation-menu .bg-layers {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  top: 0;
}

.navigation-menu .bg-layers * {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  transition-duration: 700ms;
  -webkit-transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation-menu .bg-layers span {
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  transform: skewX(0);
  background: #002d62;
}

.navigation-menu .bg-layers span:nth-child(1) {
  left: 0;
}

.navigation-menu .bg-layers span:nth-child(1):before {
  content: "";
  width: 150%;
  height: 100%;
  background: #002d62;
  position: absolute;
  left: -149%;
  top: 0;
}

.navigation-menu .bg-layers span:nth-child(2) {
  left: 25%;
}

.navigation-menu .bg-layers span:nth-child(3) {
  left: 50%;
}

.navigation-menu .bg-layers span:nth-child(4) {
  left: 75%;
}

.navigation-menu .bg-layers span:nth-child(4):before {
  content: "";
  width: 150%;
  height: 100%;
  background: #002d62;
  position: absolute;
  right: -149%;
  top: 0;
}

.navigation-menu .inner {
  position: relative;
  z-index: 3;
  color: #fff;
  text-align: center;
  padding-top: 96px;
}

.navigation-menu .inner * {
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.navigation-menu .inner .menu {
  display: block;
  min-height: 130px;
  opacity: 0;
  transform: translateY(-30px);
}

.navigation-menu .inner .menu ul {
  display: block;
  margin-bottom: 50px;
  padding: 0;
  position: relative;
}

.navigation-menu .inner .menu ul li {
  display: inline-block;
  margin: 0 20px;
  padding: 0;
  list-style: none;
}

.navigation-menu .inner .menu ul li:hover ul {
  opacity: 1;
  visibility: visible;
}

.navigation-menu .inner .menu ul li:hover ul li ul {
  opacity: 0;
  visibility: hidden;
}

.navigation-menu .inner .menu ul li a {
  display: inline-block;
  line-height: 1;
  font-size: 3vw;
  font-weight: 800;
  color: #fff;
  padding-bottom: 8px;
  border-bottom: 5px solid transparent;
}

.navigation-menu .inner .menu ul li a:hover {
  padding-bottom: 3px;
  border-bottom: 5px solid #f6d894;
  text-decoration: none;
}

.navigation-menu .inner .menu ul li ul {
  width: 100%;
  min-height: inherit;
  position: absolute;
  left: 0;
  top: 70px;
  opacity: 0;
  visibility: hidden;
}

.navigation-menu .inner .menu ul li ul li {
  margin: 0 15px;
}

.navigation-menu .inner .menu ul li ul li a {
  font-size: 2vw;
  padding: 0;
  border-bottom: none;
}

.navigation-menu .inner .menu ul li ul li a:hover {
  padding: 0;
  border-bottom: none;
  color: #f6d894;
}

.navigation-menu .inner .menu ul li ul li:hover ul {
  opacity: 1;
  visibility: visible;
}

.navigation-menu .inner .menu ul li ul li ul {
  top: 55px;
  opacity: 0;
  visibility: hidden;
}

.navigation-menu .inner .menu ul li ul li ul li {
  margin: 0 20px;
}

.navigation-menu .inner .menu ul li ul li ul li a {
  font-size: 20px;
  font-weight: 600;
}

.navigation-menu .inner blockquote {
  display: block;
  font-size: 2vw;
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  color: #f6d894;
  opacity: 0;
  transition-delay: 0.5s;
  transform: translateY(30px);
}

.navigation-menu.active .bg-layers {
  visibility: visible;
}

.navigation-menu.active .bg-layers span {
  width: calc(25% + 1px);
  transform: skewX(45deg);
}

.navigation-menu.active .bg-layers span:nth-child(1) {
  width: calc(25% + 1px);
}

.navigation-menu.active .bg-layers span:nth-child(4) {
  width: calc(25% + 1px);
}

.navigation-menu.active .inner .menu {
  opacity: 1;
  transform: translateY(0);
}

.navigation-menu.active .inner blockquote {
  opacity: 1;
  transform: translateY(0);
}

.navigation-menu.active {
  visibility: visible;
}

/* HAMBURGER */

.hamburger {
  cursor: pointer;
  float: left;
  width: 26px;
  height: 18px;
  position: relative;
}

.hamburger * {
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hamburger span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e8293b;
  z-index: 0;
}

.hamburger span:nth-child(1) {
  top: 0px;
  width: 50%;
}

.hamburger span:nth-child(2) {
  top: 8px;
}

.hamburger span:nth-child(3) {
  width: 50%;
  top: 16px;
  right: 0;
  left: auto;
}

.hamburger span:before,
.hamburger span:after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  height: 100%;
  width: 0;
  right: 0;
  left: auto;
}

.hamburger span:before {
  z-index: 1;
  background: #fff;
  transition: all 0.15s linear 0s;
}

.hamburger span:after {
  z-index: 2;
  background: #e8293b;
  transition: all 0.15s linear 0.3s;
}

.hamburger span:nth-child(2):before {
  transition-delay: 0.05s;
}

.hamburger span:nth-child(3):before {
  transition-delay: 0.1s;
}

.hamburger span:nth-child(2):after {
  transition-delay: 0.15s;
}

.hamburger span:nth-child(3):after {
  transition-delay: 0.2s;
}

.hamburger:hover span {
  width: 100% !important;
}

.hamburger:hover span:after,
.hamburger:hover span:before {
  width: 100%;
  left: 0;
  right: auto;
}

.hamburger:hover span:after {
  z-index: 1;
  transition: all 0.15s linear 0s;
}

.hamburger:hover span:before {
  z-index: 2;
  transition: all 0.15s linear 0.3s;
}

/* .hamburger:hover span:nth-child(2):after {
    transition-delay: 0.05s;
} */

.hamburger:hover span:nth-child(3):after {
  transition-delay: 0.1s;
}

/* .hamburger:hover span:nth-child(2):before {
    transition-delay: 0.15s;
} */

.hamburger:hover span:nth-child(3):before {
  transition-delay: 0.2s;
}

.hamburger.open span:nth-child(1) {
  top: 9px;
  width: 100%;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -15px;
}

.hamburger.open span:nth-child(3) {
  top: 9px;
  width: 100%;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* CUSTOM LINK */

.custom-link {
  display: block;
  transition: all 0.5s;
}

.custom-link * {
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.custom-link a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  color: #002d62;
}

.custom-link a:hover {
  text-decoration: none;
}

.custom-link b {
  font-weight: 600;
  display: inline-block;
  margin-left: 20px;
}

.custom-link .lines {
  width: 42px;
  height: 1px;
  float: left;
  overflow: hidden;
}

.custom-link .lines span:nth-child(1) {
  width: 100%;
  height: 1px;
  float: right;
  background: #002d62;
}

.custom-link .lines span:nth-child(2) {
  width: 0;
  height: 1px;
  float: left;
  background: #002d62;
}

.custom-link:hover .lines {
  width: 62px;
  margin-left: 20px;
}

.custom-link:hover .lines span:nth-child(1) {
  width: 0;
}

.custom-link:hover .lines span:nth-child(2) {
  width: 100%;
  transition-delay: 0.2s;
}

/* HEADER */

.header {
  width: 100%;
  height: 100vh;
  min-height: 660px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background: #002d62;
}

.header .container {
  position: relative;
  z-index: 2;
}

.header .container .tagline {
  display: block;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.header .container .tagline span {
  color: #e8293b;
  float: left;
  font-weight: 600;
  color: #fff;
}

.header .container .tagline span:after {
  content: "";
  width: 22px;
  height: 1px;
  float: right;
  margin: 10px;
  background: #e8293b;
}

.header .container .tagline h6 {
  float: left;
  font-family: "Fjalla One", sans-serif;
  opacity: 0.7;
  margin-top: 2px;
  margin-bottom: 0;
}

.header .container h1 {
  width: 100%;
  float: left;
  font-weight: 800;
  color: #e8293b;
  font-size: 10vw;
  line-height: 1;
}

.header .container h1 span {
  -webkit-text-stroke-width: 1px;
  transform: translateY(-35%);
  margin-left: 4%;
  display: flex;
  -webkit-text-stroke-color: #fff;
  color: transparent;
}

.header .container .slide-btn {
  float: left;
}

.header .perspective {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 0;
}

.header .perspective canvas {
  min-height: 100%;
  width: auto !important;
  position: absolute;
  left: 0;
  top: 0;
}

.header .particles-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 0;
}

.header .particles-wrap .particles {
  width: 100%;
  height: calc(100% - 50px);
  position: absolute;
  left: 0;
  bottom: 0;
}

.header .video-bg {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 0;
}

.header .video-bg:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/bg-lines.png) center;
  z-index: 2;
}

.header .video-bg video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  opacity: 0.8;
}

.page-header {
  width: 100%;
  height: 100vh;
  min-height: 660px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: #002d62;
}

.page-header .video-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.page-header .video-bg:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/bg-lines.png) center;
  z-index: 2;
}

.page-header .video-bg video {
  min-width: 100%;
  min-height: 100%;
  float: left;
  opacity: 0.2;
}

.page-header .container {
  position: relative;
  z-index: 3;
  padding: 0 10%;
}

.page-header .container h1 {
  font-weight: 800;
  font-size: 10vw;
  color: #daa520;
  line-height: 1;
  text-indent: -5px;
}

.page-header .container p {
  margin-bottom: 0;
  font-family: "Fjalla One", sans-serif;
  color: #f6d894;
}

header {
  transform: scale(1.5);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  transition-duration: 700ms;
  -webkit-transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

header .scroll-down {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
}

header .scroll-down small {
  width: 98px;
  display: inline-block;
  transform: rotate(-90deg);
  margin-bottom: 50px;
  color: #e8293b;
  font-family: "Fjalla One", sans-serif;
}

header .scroll-down span {
  display: block;
  height: 50px;
  position: relative;
  transform: translateX(-1px);
}

header .scroll-down span::before {
  -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
}

header .scroll-down span::before {
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -0.5px;
  width: 1px;
  height: 70px;
  background: #e8293b;
  content: "";
}

/* NAVBAR */

.navbar {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px 40px;
  color: #fff;
  font-family: "Fjalla One", sans-serif;
  font-size: 14px;
  z-index: 10;
  transform: translateY(-130%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  transition-duration: 700ms;
  -webkit-transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.navbar a {
  color: #fff;
}

.navbar .left {
  width: 30%;
  margin-left: 0;
}

.navbar .left a {
  position: relative;
  padding-bottom: 6px;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  border-bottom: 2px solid transparent;
}

.navbar .left a:hover {
  padding-bottom: 1px;
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

.navbar .logo {
  margin: 0 auto;
}

.navbar .logo a {
  float: left;
}

.navbar .logo a img {
  height: 56px;
}

.navbar .right {
  width: 30%;
  margin-right: 0;
  display: flex;
}

.navbar .right ul {
  margin-left: auto;
  margin-bottom: 0;
  padding: 0;
}

.navbar .right ul li {
  display: inline-block;
  margin-left: 15px;
  padding: 0;
}

.navbar .right ul li a {
  position: relative;
  padding-bottom: 6px;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  border-bottom: 2px solid transparent;
}

.navbar .right ul li a:hover {
  padding-bottom: 1px;
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

.navbar .right .hamburger-menu {
  margin-right: 0;
  margin-left: 60px;
}

.navbar .right .hamburger-menu .hamburger {
  float: right;
  margin-top: 1px;
}

.navbar .right .hamburger-menu b {
  display: inline-block;
  font-weight: 400;
  margin-right: 15px;
}

/* SLIDE BTN */

.slide-btn {
  display: block;
  transition: all 0.5s;
  padding-left: 30px;
}

.slide-btn a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  color: #fff;
}

.slide-btn a:hover {
  text-decoration: none;
}

.slide-btn b {
  font-weight: 600;
}

.slide-btn .lines {
  width: 42px;
  height: 1px;
  float: left;
  overflow: hidden;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.slide-btn .lines span:nth-child(1) {
  width: 100%;
  height: 1px;
  float: right;
  background: #fff;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.slide-btn .lines span:nth-child(2) {
  width: 0;
  height: 1px;
  float: left;
  background: #fff;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.slide-btn:hover .lines {
  width: 62px;
  margin-left: 20px;
}

.slide-btn:hover .lines span:nth-child(1) {
  width: 0;
}

.slide-btn:hover .lines span:nth-child(2) {
  width: 100%;
  transition-delay: 0.2s;
}

.slide-btn .video-play-circle {
  stroke-dasharray: 315;
  stroke-dashoffset: 315;
  transition: stroke-dashoffset 0.5s;
}

.slide-btn svg {
  width: 50px;
  height: 50px;
  transition: transform 0.3s;
  margin-left: -25px;
  margin-right: 15px;
}

.slide-btn:hover .video-play-circle {
  stroke-dashoffset: 0;
}

/* SWIPER SLIDER */

.swiper-slider {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  overflow: hidden;
}

.swiper-slider .swiper-slide {
  display: block;
  overflow: hidden;
}

.swiper-slider .swiper-slide.swiper-slide-active .slide-inner {
  transform: scale(1);
}

.swiper-slider .swiper-slide.swiper-slide-active .slide-inner .container {
  transform: translateY(0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  transition-duration: 700ms;
  -webkit-transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  opacity: 1;
}

.swiper-slider .swiper-slide .slide-inner {
  width: 100%;
  height: 100%;
  transform: scale(0.8);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  transition-duration: 700ms;
  -webkit-transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  background-size: cover;
  background-position: center;
  position: relative;
}

.swiper-slider .swiper-slide .slide-inner:after {
  content: "";
  width: 100%;
  height: 100%;
  background: url(../images/bg-noise.gif);
  opacity: 0.04;
  position: absolute;
  left: 0;
  top: 0;
}

.swiper-slider .swiper-slide .slide-inner:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/bg-lines.png) center;
  z-index: 1;
}

.swiper-slider .swiper-slide .slide-inner .container {
  transform: translateY(50px);
  opacity: 0;
  transition-delay: 0.15s !important;
  position: relative;
  z-index: 2;
}

.swiper-slider .swiper-slide .slide-inner .container .tagline {
  display: block;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.swiper-slider .swiper-slide .slide-inner .container .tagline span {
  color: #e8293b;
  float: left;
  font-weight: 600;
  color: #fff;
}

.swiper-slider .swiper-slide .slide-inner .container .tagline span:after {
  content: "";
  width: 22px;
  height: 1px;
  float: right;
  margin: 10px;
  background: #e8293b;
}

.swiper-slider .swiper-slide .slide-inner .container .tagline h6 {
  float: left;
  font-family: "Fjalla One", sans-serif;
  opacity: 0.7;
  margin-top: 2px;
  margin-bottom: 0;
}

.swiper-slider .swiper-slide .slide-inner .container h1 {
  width: 100%;
  float: left;
  font-weight: 800;
  color: #e8293b;
  font-size: 10vw;
  line-height: 1;
}

.swiper-slider .swiper-slide .slide-inner .container h1 span {
  -webkit-text-stroke-width: 1px;
  transform: translateY(-35%);
  margin-left: 4%;
  display: flex;
  -webkit-text-stroke-color: #fff;
  color: transparent;
}

.swiper-slider .swiper-slide .slide-inner .container .slide-btn {
  float: left;
}

.swiper-slider .swiper-pagination-bullets {
  width: 50px;
  left: auto;
  right: 40px;
  bottom: 50%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  z-index: 2 !important;
}

.swiper-slider .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 100%;
  height: auto;
  float: left;
  margin: 5px 0;
  background: none;
  position: relative;
  text-indent: 9999px;
  padding-right: 36px;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.swiper-slider .swiper-pagination-bullets .swiper-pagination-bullet:hover {
  opacity: 1;
}

.swiper-slider
  .swiper-pagination-bullets
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  text-indent: 0;
}

.swiper-slider
  .swiper-pagination-bullets
  .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
  width: 67px;
  right: -45px;
}

.swiper-slider .swiper-pagination-bullets .swiper-pagination-bullet:after {
  content: "";
  width: 22px;
  height: 1px;
  background: #e8293b;
  position: absolute;
  top: 10px;
  right: 0;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* INTRO */

.intro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 120px 0;
}

.intro h6 {
  display: block;
  line-height: 1;
  margin-bottom: 20px;
  font-family: "Fjalla One", sans-serif;
  opacity: 0.5;
  font-size: 0.75rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.intro h2 {
  margin-bottom: 60px;
  font-weight: 800;
  font-size: clamp(2rem, 5vw, 3.5rem);
  line-height: 1.1;
  letter-spacing: -0.02em;
  padding-right: 35%;
}

.intro h2:before {
  content: attr(data-text);
  font-size: 20vw;
  opacity: 0.05;
  z-index: -1;
  position: absolute;
  left: 0;
  top: -20%;
}

.intro h4 {
  margin-top: 5px;
  font-family: "Fjalla One", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  padding-right: 20%;
}

.intro p {
  margin-bottom: 30px;
  font-size: 1.125rem;
  line-height: 1.7;
  max-width: 65ch;
}

.intro u {
  text-decoration: none;
  border-bottom: 3px dotted #e8293b;
  font-weight: 600;
}

.intro strong {
  font-weight: 600;
}

.intro .custom-link {
  transform: translateY(30px);
}

/* FOOTER */

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 80px 0;
  background: #002d62;
  color: #fff;
}

.footer .footer-quote {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.footer .footer-quote img {
  height: 60px;
  display: block;
  margin-bottom: 20px;
}

.footer .footer-quote h2 {
  font-size: 3vw;
  font-weight: 800;
  margin-bottom: 0;
  color: #f6d894;
}

.footer .footer-contact {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
}

.footer .footer-contact address {
  margin-bottom: 0;
  text-align: center;
}

.footer .footer-contact address a {
  color: #fff;
  text-decoration: underline;
}

.footer .footer-bottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.footer .footer-bottom h5 {
  margin-bottom: 10px;
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  color: #f6d894;
}

.footer .footer-bottom ul {
  display: block;
  margin: 0;
  padding: 0;
}

.footer .footer-bottom ul li {
  display: inline-block;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  list-style: none;
}

.footer .footer-bottom ul li:last-child {
  margin-right: 0;
}

.footer .footer-bottom ul li a {
  position: relative;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 6px;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  border-bottom: 2px solid transparent;
}

.footer .footer-bottom ul li a:hover {
  padding-bottom: 1px;
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

/* MEDIUM FIXES */

@media only screen and (max-width: 1199px),
  only screen and (max-device-width: 1199px) {
  .swiper-slider .swiper-slide .slide-inner {
    padding: 0 10%;
  }
  .intro h4 {
    padding-right: 0;
  }
  .work-with-us h2 {
    padding-right: 0;
  }
  .work-with-us h4 {
    padding-right: 0;
  }
}

/* RESPONSIVE TABLET FIXES */

@media only screen and (max-width: 991px),
  only screen and (max-device-width: 991px) {
  header {
    min-height: inherit;
  }
  .swiper-slider .swiper-slide .slide-inner .container h1 {
    font-size: 12vw;
  }
  .intro {
    padding: 80px 0;
  }
  .intro h2 {
    padding-right: 0;
    margin-bottom: 50px;
  }
  .intro .custom-link {
    transform: translateY(0);
  }
  .services-content-block {
    padding: 80px 0;
  }
  .services-content-block h2 {
    padding-right: 0;
  }
  .services-content-block .left {
    width: 100%;
    margin-bottom: 20px;
  }
  .services-content-block .right {
    width: 100%;
  }
  .works {
    padding: 80px 0;
  }
  .works h2 {
    padding-right: 0;
    margin-bottom: 50px;
  }
  .works .project-box {
    padding: 35px 0;
  }
  .work-with-us {
    padding: 80px 0;
  }
  .footer .footer-quote h2 {
    font-size: 6vw;
  }
}

/* RESPONSIVE MOBILE FIXES */

@media only screen and (max-width: 767px),
  only screen and (max-device-width: 767px) {
  .container {
    padding: 0 30px;
  }
  .page-header .video-bg:before {
    display: none;
  }
  header .scroll-down {
    left: -10px;
  }
  .header {
    min-height: inherit;
  }
  .page-header {
    min-height: inherit;
  }
  .page-header .container h1 {
    font-size: 15vw;
  }
  .navigation-menu.active .bg-layers span {
    width: 50%;
  }
  .navigation-menu.active .bg-layers span:nth-child(1) {
    left: -50%;
    width: 50%;
  }
  .navigation-menu.active .bg-layers span:nth-child(2) {
    left: 0;
    width: 50%;
  }
  .navigation-menu.active .bg-layers span:nth-child(3) {
    left: 50%;
    width: 50%;
  }
  .navigation-menu.active .bg-layers span:nth-child(4) {
    left: 100%;
    width: 50%;
  }
  .navigation-menu .inner .menu ul li {
    display: block;
    margin-bottom: 20px;
  }
  .navigation-menu .inner .menu ul li a {
    font-size: 9vw;
    padding-bottom: 2px;
  }
  .navigation-menu .inner .menu ul li a:hover {
    padding-bottom: 2px;
  }
  .navigation-menu .inner .menu ul li ul {
    position: static;
    display: none;
    visibility: visible;
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .navigation-menu .inner .menu ul li ul li {
    padding: 5px 0;
  }
  .navigation-menu .inner .menu ul li ul li a {
    font-size: 20px;
  }
  .navigation-menu .inner .menu ul li:hover ul {
    display: block;
  }
  .navigation-menu .inner blockquote {
    display: none;
  }
  .navbar {
    padding: 20px 30px;
  }
  .navbar .right ul {
    display: none;
  }
  .navbar .right .hamburger-menu {
    margin-left: auto;
  }
  .header .container h1 {
    font-size: 20vw;
  }
  .header .container h1 span {
    margin-left: 0;
    transform: translateY(0);
  }
  .header .container .slide-btn {
    padding-left: 0;
  }
  .swiper-slider .swiper-slide .slide-inner {
    padding: 0;
  }
  .swiper-slider .swiper-pagination-bullets {
    display: none;
  }
  .swiper-slider .swiper-slide .slide-inner:before {
    display: none;
  }
  .swiper-slider .swiper-slide .slide-inner .container h1 {
    font-size: 20vw;
  }
  .swiper-slider .swiper-slide .slide-inner .container h1 span {
    margin-left: 0;
    transform: translateY(0);
  }
  .swiper-slider .swiper-slide .slide-inner .container .slide-btn {
    padding-left: 0;
  }
  .intro h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .intro h4 {
    margin-bottom: 20px;
  }
  .intro p {
    font-size: 18px;
    line-height: 30px;
  }
  .services-content-block h2 {
    font-size: 32px;
    margin-bottom: 60px;
  }
  .works h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .works .project-box {
    flex-direction: column;
  }
  .works .project-box figure {
    width: 100%;
    margin-bottom: 20px;
  }
  .works .project-box:nth-child(2n + 2) figure {
    order: 0;
  }
  .works .project-box:nth-child(2n + 2) .content-box {
    text-align: left;
  }
  .works .project-box:nth-child(2n + 2) .custom-link a {
    float: left;
  }
  .works .project-box .content-box {
    width: 100%;
    padding-left: 0;
  }
  .works .project-box .content-box .inner small {
    margin-bottom: 5px;
  }
  .works .project-box .content-box .inner h3 {
    margin-bottom: 30px;
  }
  .works .project-box .content-box .inner h3 span {
    margin-left: 0;
    font-size: 12vw;
  }
  .services-content-block .col-md-4:nth-child(3) {
    margin: 40px 0;
  }
  .work-with-us h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .footer {
    padding: 80px 0;
  }
  .footer .footer-quote img {
    margin-bottom: 40px;
  }
  .footer .footer-quote {
    margin-bottom: 40px;
  }
  .footer .footer-quote h2 {
    font-size: 8vw;
  }
  .footer .footer-contact {
    margin-bottom: 40px;
  }
  .footer .footer-contact address {
    margin-bottom: 30px;
  }
  .footer .footer-bottom ul li {
    margin-right: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
